a {
  color: #000;
  text-decoration: none;
}

.char-list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.char-card {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-decoration: none;
  color: #000;
}

.char-card p {
  width: 250px;
}

.char-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.char {
  text-align: center;
}

.char-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 500;
}

input {
  width: 300px;
  margin-bottom: 15px;
}

input:last-child {
  flex-direction: row;
  width: auto;
}

.title {
  text-align: center;
}
